 .header nav a{
     text-decoration: none;
    color: white;

}
.navHover:hover{
background-color: white;
padding: 10px 15px;
border-radius: 5px;
color: black;
}

/* .header{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.4s;
    z-index: 99;
    
} */